<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Java EE 6 Starter Application</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <h:outputStylesheet name="css/screen.css"/>
        
        <ui:insert name="moreScripts">

		</ui:insert>
    </h:head>
    <h:body>
    	<h:form>
    		<p:menubar>
    			<p:menuitem value="Home" action="home" ajax="false" />	
   				<p:menuitem value="Instituição"  action="institutionList" ajax="false" />
				
				<p:menuitem value="Departamento" action="departmentList" ajax="false" />
				
				<p:menuitem value="Andar" action="floorListCreate" ajax="false" />
				
				<p:menuitem value="Salas"  action="roomListCreate" ajax="false" />
				
				<p:menuitem value="Reservas"  action="reserveList" ajax="false" rendered="#{loginMB.agentLogged.isAdmin() or loginMB.agentLogged.isSecretary() or loginMB.agentLogged.isTeacher()}"/>
				
				<p:menuitem value="Usuários" action="userList" ajax="false" rendered="#{loginMB.agentLogged.isAdmin()}"/>
				
				<p:menuitem value="Controle de acesso" action="controlList" ajax="false" rendered="#{loginMB.agentLogged.isAdmin()}"/>
				
				<p:menuitem value="#{loginMB.numNotifications} " action="reserveList" ajax="false" rendered="#{loginMB.agentLogged.isSecretary()}" 
					style="position:absolute;right:20%"/>
				
				<p:submenu label="#{loginMB.agentLogged.fullname}" style="position:absolute;right:4px">
					<p:menuitem ajax="false" value="Configurações" action="userConfig" icon="ui-icon-gear" />
					<p:menuitem ajax="false" value="Sair" action="#{loginMB.logout()}" icon="ui-icon-arrowreturn-1-w" />
				</p:submenu>
	    		
	    	</p:menubar>
    	</h:form>
        <div id="container">
            <div id="content">
              
                <ui:insert name="content">
                    [Template content will be inserted here]
                </ui:insert>
            </div>
            <div id="footer">
                <h:graphicImage value="/resources/gfx/weld.png" alt="Weld logo"/>
                <p>
                    This project was generated from a Maven archetype maintained by the Weld team.<br/>
                    Weld is the reference implementation of CDI, released under the Apache License, Version 2.0.<br/>
                    <a href="http://localhost:8080/jmx-console/HtmlAdaptor?action=inspectMBean&amp;name=java.util.logging%3Atype%3DLogging">Adjust logging levels (JBoss AS)</a>
                </p>
            </div>
        </div>
    </h:body>
</html>
