<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/system.xhtml">
    <ui:define name="content">
<h:form id="form">
    	<div style="text-align:center;">
        	<h1>Listagem de Salas</h1>
        	<p:growl id="growl" autoUpdate="true"/>
        	<h:panelGrid columns="3">
        		<h:outputLabel value="Departamento" />
	        	<p:autoComplete value="#{roomListCreateMB.departmentSelected}" id="completeDepartment" completeMethod="#{roomListCreateMB.completeDepartment}" 
					var="dep" itemLabel="#{dep.institution.name} - #{dep.name}" itemValue="#{dep}" forceSelection="true" 
					converter="#{departmentConverter}" dropdown="true" size="70" required="true" requiredMessage="Selecione o departamento"
					>
					<p:ajax event="itemSelect" update="completeFloor" listener="#{roomListCreateMB.updateFloors()}"/>
	        	</p:autoComplete> <br />
	        	
	        	<h:outputLabel value="Andar" />
	        	<p:autoComplete value="#{roomListCreateMB.floorSelected}" id="completeFloor" completeMethod="#{roomListCreateMB.completeFloor}" 
					var="floor" itemLabel="#{floor.department.name} - #{floor.name}" itemValue="#{floor}" forceSelection="true" 
					converter="#{floorConverter}" dropdown="true" size="70" required="true" requiredMessage="Selecione o andar">
					<p:ajax event="itemSelect" update="@form" listener="#{roomListCreateMB.updateRooms()}" />
	        	</p:autoComplete> <br />
        	</h:panelGrid>
        	<p:imageCropper image="#{roomListCreateMB.realPathToPhoto}" rendered="#{not (roomListCreateMB.floorSelected eq null)}" 
        		 id="photo" initialCoords="10,10,50,50" value="#{cropperBean.imageCropped}" required="true" requiredMessage="Obrigatório"
        		 >
        		
       		</p:imageCropper>
        	
        	<ui:repeat var="room" value="#{roomListCreateMB.rooms}">
        		<script type="text/javascript">
					setTimeout(function(){addBlackPanel('#{room.id}',#{room.left},#{room.top},#{room.width},#{room.height},'#{room.name}')},1000);
        		</script>
        	</ui:repeat>
        	<br />
        	<p:commandButton value="Adicionar Sala" rendered="#{not (roomListCreateMB.floorSelected eq null)}" id="btnAdd"
	        	oncomplete="dlgAdd.show();" update=":formDialog" actionListener="#{roomListCreateMB.prepareRoom()}"
	        />	        
	        	
       		<p:dataTable value="#{roomListCreateMB.rooms}" var="room" emptyMessage="Não existem salas" filteredValue="#{roomListCreateMB.roomsFiltered}"
        		id="table" style="margin-top: 100px;">
        		<f:facet name="header">Tabela de salas cadastradas</f:facet>
        		<p:column headerText="Nome da sala" filterMatchMode="contains" filterBy="#{room.name}" sortBy="#{room.name}" filterStyle="width: 300px;"
        			width="500">
        			<h:outputLabel value="#{room.name}" />	
        		</p:column>
        		<p:column headerText="Deletar" width="100">
        			<p:commandButton icon="ui-icon-trash" update="table" actionListener="#{roomListCreateMB.deleteFloor(room)}" immediate="true"/>
        		</p:column>
        	</p:dataTable>
		</div>
	
</h:form>

<p:dialog modal="true" closable="true" draggable="true" resizable="true" header="Adicionar sala" id="dialogAdd" widgetVar="dlgAdd" closeOnEscape="true"
	dynamic="true">
	<h:form id="formDialog">
		<center>
		<h:outputLabel value="Adicionando sala para o andar [#{roomListCreateMB.floorSelected.name}] do departamento [#{roomListCreateMB.departmentSelected.name}] - #{roomListCreateMB.departmentSelected.institution.name}" />
		<h:panelGrid columns="3">
			<h:outputLabel value="Nome da sala" />
			<p:inputText value="#{roomListCreateMB.room.name}" id="txtRoomName" required="true"
				requiredMessage="Obrigatório nome da sala" size="50" widgetVar="txtRoomName" />
			<p:message for="txtRoomName"/>
		</h:panelGrid>
		<p:commandButton value="Cadastrar" actionListener="#{roomListCreateMB.addRoom()}" oncomplete="dlgAdd.hide();" update=":form:table :form:growl"
			onsuccess="addBlackPanelOnSubmit();"/>
		<p:commandButton value="Cancelar" type="button" onclick="dlgAdd.hide();"/>
		</center>
	
	</h:form>

</p:dialog>
    </ui:define>
    <ui:define name="moreScripts">
    	<script
			src="#{facesContext.externalContext.request.contextPath}/resources/js/cropper.js"
			type="text/javascript" charset="utf-8" />
    </ui:define>
    
</ui:composition>
