<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/system.xhtml">
    <ui:define name="content">
<h:form id="form">
	<p:growl id="growl"/>
    	<div style="text-align:center;">
        	<h1>Criação de Usuário</h1>
		</div>
		<p:fieldset legend="Dados">
			<h:panelGrid columns="3">
			
				<h:outputLabel value="Entidade*" />
				<p:selectOneButton value="#{userCreateMB.entityChoosen}" id="cmbEntity">
					<f:selectItems value="#{userCreateMB.entitiesTypes}" var="ent" itemLabel="#{ent.toStringSpecialPortuguese()}" itemValue="#{ent}"/>
					<p:ajax event="change" listener="#{userCreateMB.instantiateNewAgent()}"/>
				</p:selectOneButton>
				<p:message for="cmbEntity"/>
			
				<h:outputLabel value="Nome completo*" />
				<p:inputText value="#{userCreateMB.agent.fullname}" id="txtName" required="true"
					requiredMessage="Obrigatório nome do usuário" size="50"/>
				<p:message for="txtName" showSummary="true" showDetail="false"/>
				
				<h:outputLabel value="Username*" />
				<p:inputText value="#{userCreateMB.agent.username}" id="txtUser" required="true"
					requiredMessage="Obrigatório o username" validator="#{uniqueUsernameValidator.validate}"
					size="30">
					<p:ajax event="blur" process="txtUser" update="msgUsername" />	
				</p:inputText>
				<p:message for="txtUser" id="msgUsername" showSummary="true" showDetail="false"/>
				
				<h:outputLabel value="Senha*" />
				<h:inputSecret value="#{userCreateMB.password}" id="txtPassword" required="true"
					requiredMessage="Obrigatório a senha">	
				</h:inputSecret>
				<p:message for="txtPassword" id="msgPassword" showSummary="true" showDetail="false"/>
				
				<h:outputLabel value="Confirmação de senha*" />
				<h:inputSecret value="#{userCreateMB.confirmPassword}" id="txtConfirmPassword" required="true"
					requiredMessage="Obrigatório a confirmação da senha">	
				</h:inputSecret>
				<p:message for="txtConfirmPassword" id="msgConfirmPassword" showSummary="true" showDetail="false"/>
				
			</h:panelGrid>
		</p:fieldset>
		
		<div style="text-align:center; margin-top: 20px">
			<p:commandButton value="Cadastrar" update="@form" id="btnSave" action="#{userCreateMB.save()}"/>
		</div>
</h:form>
    </ui:define>
</ui:composition>
