<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/system.xhtml">
    <ui:define name="content">
<h:form id="form">
		<p:commandButton immediate="true" ajax="false" action="userCreate" value="Cadastrar novo" rendered="#{loginMB.agentLogged.isAdmin()}"/>
    	<div style="text-align:center;">
        	<h1>Listagem de Usuários</h1>
        	
        	<p:dataTable value="#{userListMB.agents}" var="agent" emptyMessage="Não existem usuários" filteredValue="#{userListMB.filteredAgents}">
        		<p:column headerText="Username" filterMatchMode="contains" filterBy="#{agent.username}" sortBy="#{agent.username}">
        			<h:outputLabel value="#{agent.username}" />	
        		</p:column>
        		
        		<p:column headerText="Nome" filterMatchMode="contains" filterBy="#{agent.fullname}" sortBy="#{agent.fullname}">
        			<h:outputLabel value="#{agent.fullname}" />	
        		</p:column>
        		
        		<p:column headerText="Tipo" filterMatchMode="contains" filterBy="#{agent.presentableInstanceName}" sortBy="#{agent.presentableInstanceName}">
        			<h:outputLabel value="#{agent.presentableInstanceName}" />	
        		</p:column>
        		
        	
        	
        	</p:dataTable>
		</div>
	
</h:form>
    </ui:define>
</ui:composition>
