<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/system.xhtml">
    <ui:define name="content">
<h:form id="form">
    	<div style="text-align:center;">
        	<h1>Registro de reserva</h1>
		</div>
		<p:growl id="growl"/>
		<p:fieldset legend="Dados">
			<h:panelGrid columns="3" id="grid">
				<h:outputLabel value="Sala" />
				<p:autoComplete value="#{reserveCreateMB.reserve.room}" id="completeRoom" completeMethod="#{reserveCreateMB.completeRoom}" 
					var="r" itemLabel="[#{r.floor.department.institution.name}] [#{r.floor.department.name}] [#{r.floor.name}] [#{r.name}]" itemValue="#{r}" forceSelection="true" 
					converter="#{roomConverter}" dropdown="true" size="90" required="true" requiredMessage="Selecione a sala" minQueryLength="2" queryDelay="600">
				</p:autoComplete>
				<p:message for="completeRoom" />
			
			
				<h:outputLabel value="Começa" />
				<p:calendar id="calBegin" value="#{reserveCreateMB.begin}"
					pattern="dd/MM/yyyy HH:mm:ss" locale="pt" effect="slideDown" navigator="true" 
					converterMessage="Não foi possível entender a data" yearRange="c+0:c+1" showOn="button"
					style="text-align:center;" required="true" requiredMessage="Obrigatório">
				</p:calendar>
				<p:message for="calBegin"/>
				
				<h:outputLabel value="Termina" />
				<p:calendar id="calEnd" value="#{reserveCreateMB.end}"
					pattern="dd/MM/yyyy HH:mm:ss" locale="pt" effect="slideDown" navigator="true" 
					converterMessage="Não foi possível entender a data" yearRange="c+0:c+1" showOn="button"
					style="text-align:center;" required="true" requiredMessage="Obrigatório">
				</p:calendar>
				<p:message for="calEnd"/>
			
				</h:panelGrid>
				<h:panelGrid columns="3" id="grid2">
				<h:outputLabel value="Professor cadastrado?" />
				<p:selectBooleanCheckbox value="#{reserveCreateMB.specificTeacher}" id="cbSpecific">
					<p:ajax update="grid2" listener="#{reserveCreateMB.defineChooseSpecific()}"/>
				</p:selectBooleanCheckbox>
				<br />
				
				<h:outputLabel value="Professor cadastrado" rendered="#{reserveCreateMB.specificTeacher}" id="lblProfCad"/>
				<p:autoComplete value="#{reserveCreateMB.reserve.teacher}" id="completeTeacher" completeMethod="#{reserveCreateMB.completeTeacher}" 
					var="t" itemLabel="#{t.fullname}" itemValue="#{t}" forceSelection="true" 
					converter="#{teacherConverter}" dropdown="true" size="70" required="true" requiredMessage="Selecione o professor"
					rendered="#{reserveCreateMB.specificTeacher}">
				</p:autoComplete>
				<p:message for="completeTeacher" rendered="#{reserveCreateMB.specificTeacher}"/>
				
				<h:outputLabel value="Professor não cadastrado" rendered="#{not reserveCreateMB.specificTeacher}"/>
				<p:inputText value="#{reserveCreateMB.reserve.teacherName}" required="true" requiredMessage="Obrigatório"
					id="txtTeacher" rendered="#{not reserveCreateMB.specificTeacher}" size="70"/>
				<p:message for="txtTeacher" rendered="#{not reserveCreateMB.specificTeacher}"/>
				
			
			</h:panelGrid>
		</p:fieldset>
		
		
		<div style="text-align:center; margin-top: 20px">
			<p:commandButton value="Cadastrar" update="@form" id="btnSave" action="#{reserveCreateMB.save()}"/>
		</div>
</h:form>
    </ui:define>
    
    <ui:define name="moreScripts">
        <script
	src="#{facesContext.externalContext.request.contextPath}/resources/js/locale-primefaces.js"
	type="text/javascript" charset="utf-8" />
    </ui:define>
</ui:composition>
