<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/system.xhtml">
    <ui:define name="content">
<h:form id="form">
		<p:commandButton immediate="true" ajax="false" action="reserveCreate" value="Cadastrar nova"/>
    	<div style="text-align:center;">
        	<h1>Reservas</h1>
        	<!-- Admin's view -->
        	<p:growl id="growl"/>
        	<p:panel id="pnlAdmin" rendered="#{loginMB.agentLogged.isAdmin() or loginMB.agentLogged.isSecretary()}" style="border: 0px !important;">
       			<p:dataTable value="#{reserveListMB.reservesPendent}" emptyMessage="Não existem reservas pendentes" rows="10" var="reserve" 
       				id="tablePendent">
       				<f:facet name="header">Pendentes</f:facet>
       			
       				<p:column headerText="Sala" width="500">
       					<h:outputLabel value="[#{reserve.room.floor.department.institution.name}] [#{reserve.room.floor.department.name}] [#{reserve.room.floor.name}] #{reserve.room.name}" />	
       				</p:column>
       				
       				<p:column headerText="Solicitada em" width="200">
						<h:outputLabel value="#{reserve.requestedIn}" >
							<f:convertDateTime pattern="dd/MM/yy HH:mm"/>
						</h:outputLabel>
					</p:column>
					
					<p:column headerText="Horário:" width="200">
						<h:outputLabel value="#{reserve.beginMillisAsDate}" >
							<f:convertDateTime pattern="dd/MM/yy HH:mm"/>
						</h:outputLabel>
						<h:outputLabel value="até" />
						<h:outputLabel value="#{reserve.endMillisAsDate}" >
							<f:convertDateTime pattern="dd/MM/yy HH:mm"/>
						</h:outputLabel>
					</p:column>
					
					
       				
					<p:column headerText="Professor" width="300">
						<h:outputLabel value="#{reserve.teacherNameProccessed}" />
					</p:column>        			
					
					<p:column headerText="Ações" width="300">
						<p:commandButton icon="ui-icon-search" actionListener="#{reserveListMB.prepareReservePendent(reserve)}" onsuccess="dlgDetails.show();"
							update=":formDetails"/>
						<p:commandButton icon="ui-icon-check" actionListener="#{reserveListMB.grantReservePendent(reserve)}" update="@form"/>
						<p:commandButton icon="ui-icon-closethick" actionListener="#{reserveListMB.denyReservePendent(reserve)}" update="@form"/>
					</p:column>
       			
       			</p:dataTable>
       			
       			<p:dataTable value="#{reserveListMB.reservesHistorical}" emptyMessage="Não existem reservas no seu histórico" rows="10" var="reserve"
       				style="margin-top : 100px;" id="tableHistorical">
       				<f:facet name="header">Respondidas</f:facet>
       				<p:column headerText="Sala" width="500">
       					<h:outputLabel value="[#{reserve.room.floor.department.institution.name}] [#{reserve.room.floor.department.name}] [#{reserve.room.floor.name}] #{reserve.room.name}" />	
       				</p:column>
       				
       				<p:column headerText="Solicitada em" width="200">
						<h:outputLabel value="#{reserve.requestedIn}" >
							<f:convertDateTime pattern="dd/MM/yy HH:mm"/>
						</h:outputLabel>
					</p:column>
					
					<p:column headerText="Horário:" width="300">
						<h:outputLabel value="#{reserve.beginMillisAsDate}" >
							<f:convertDateTime pattern="dd/MM/yy HH:mm"/>
						</h:outputLabel>
						<h:outputLabel value="até" />
						<h:outputLabel value="#{reserve.endMillisAsDate}" >
							<f:convertDateTime pattern="dd/MM/yy HH:mm"/>
						</h:outputLabel>
					</p:column>
       				
					<p:column headerText="Professor" width="300">
						<h:outputLabel value="#{reserve.teacherNameProccessed}" />
					</p:column>        			
					
					<p:column headerText="Concedida" width="80">
						<h:outputLabel value="#{reserve.reserveGranted ? 'Sim' : 'Não'}" />
					</p:column>
					
					<p:column headerText="Ações" width="300">
						<p:commandButton icon="ui-icon-search" actionListener="#{reserveListMB.prepareReserveHistorical(reserve)}" onsuccess="dlgDetails.show();"
							update=":formDetails"/>
						<p:commandButton icon="ui-icon-help" update="@form" actionListener="#{reserveListMB.markPendent(reserve)}"/>
						<p:commandButton icon="ui-icon-check" rendered="#{(not reserve.reserveGranted)}" actionListener="#{reserveListMB.grantReserveHistorical(reserve)}"
							update="tableHistorical :form:growl"/>
						<p:commandButton icon="ui-icon-closethick" rendered="#{reserve.reserveGranted}" actionListener="#{reserveListMB.denyReserveHistorical(reserve)}"
							update="tableHistorical :form:growl"/>
					</p:column>
       			</p:dataTable>
        			
			</p:panel>
        	
        	<!-- Teacher's view -->
        	<p:layout id="pnlTeacher" rendered="#{loginMB.agentLogged.isTeacher()}" style="border: 0px !important;">
        		<p:layoutUnit position="center" style="border: 0px !important;">
        			<h:outputLabel value="Ainda não implementado. Use o aplicativo do celular" />	
        		</p:layoutUnit>
        	</p:layout>
    
    	<p:commandButton icon="ui-icon-search" value="Visualizar" type="button" style="margin-top: 30px;"/>
		<p:commandButton icon="ui-icon-help" value="Marcar como pendente" type="button"/>
		<p:commandButton icon="ui-icon-check" value="Concender reserva" type="button"/>
		<p:commandButton icon="ui-icon-closethick" value="Negar reserva" type="button"/>    	
		</div>
	
</h:form>

<p:dialog modal="true" closable="true" resizable="false" draggable="true" maximizable="true" minimizable="true" id="dialogDetails" widgetVar="dlgDetails">
	<h:form id="formDetails">
		<h:panelGrid columns="2">
			<h:outputLabel value="Sala:" style="font-weight: bold" />
			<h:outputLabel value="#{reserveListMB.reserve.room.floor.department.institution.name}] [#{reserveListMB.reserve.room.floor.department.name}] [#{reserveListMB.reserve.room.floor.name}] #{reserveListMB.reserve.room.name}" />
			
			<h:outputLabel value="Requisitado em: " style="font-weight: bold" />
			<h:outputLabel value="#{reserveListMB.reserve.requestedIn}" >
				<f:convertDateTime pattern="dd/MM/yy HH:mm"/>
			</h:outputLabel>
			
			<h:outputLabel value="Professor: " style="font-weight: bold" />
			<h:outputLabel value="#{reserveListMB.reserve.teacherNameProccessed}" />
			
			<h:outputLabel value="Começo: " style="font-weight: bold" />
			<h:outputLabel value="#{reserveListMB.reserve.beginMillisAsDate}" >
				<f:convertDateTime pattern="dd/MM/yy HH:mm"/>
			</h:outputLabel>
			
			<h:outputLabel value="Fim: " style="font-weight: bold" />
			<h:outputLabel value="#{reserveListMB.reserve.endMillisAsDate}" >
				<f:convertDateTime pattern="dd/MM/yy HH:mm"/>
			</h:outputLabel>
			
			<h:outputLabel value="Concedida:" style="font-weight: bold" />
			<h:outputLabel value="#{reserveListMB.reserve.reserveGrantedAsString()}" />
			
		</h:panelGrid>
		<div style="text-align:center; margin-top: 50px;">
			<p:commandButton value="Fechar" type="button" onclick="dlgDetails.hide();"/>
		</div>
	</h:form>

</p:dialog>

    </ui:define>
</ui:composition>
