<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/system.xhtml">
    <ui:define name="content">
<h:form id="form">
    	<div style="text-align:center;">
        	<h1>Criação de instituição</h1>
		</div>
		<p:fieldset legend="Dados">
			<h:panelGrid columns="3">
			<h:outputLabel value="Nome da instituição" />
			<p:inputText value="#{instituionCreateMB.institution.name}" id="txtName" required="true"
				requiredMessage="Obrigatório nome da instituição" size="70"/>
			<p:message for="txtName"/>
			</h:panelGrid>
		</p:fieldset>
		<p:fieldset legend="Localização" style="margin-top: 20px;">
			<p:gmap center="#{mapBean.center}" zoom="#{mapBean.zoom}" type="hybrid" model="#{mapBean.model}" style="width: 700px; height: 700px; float:left;" id="map">
				<p:ajax event="pointSelect" listener="#{mapBean.onPointSelect}" update="map grid"/>
				<p:ajax event="markerDrag" listener="#{mapBean.onMarkerDrag}" update="map grid" />
				<p:ajax event="stateChange" listener="#{mapBean.onStateChange}" />
			</p:gmap>
			<h:panelGrid columns="3" id="grid" style="float: left; margin-left: 10px;">
		        <h:outputLabel value="Xa*" />
		        <p:inputText value="#{mapBean.xa}" required="true"
		        	requiredMessage="Obrigatório" id="txtXa" size="20" disabled="true"/>
		        <p:message for="txtXa"/>
		        
	        	<h:outputLabel value="Ya*" />
		        <p:inputText value="#{mapBean.ya}" required="true"
		        	requiredMessage="Obrigatório" id="txtYa" size="20" disabled="true"/>
		        <p:message for="txtYa"/>
		        
		        <h:outputLabel value="Xb*" />
		       	<p:inputText value="#{mapBean.xb}" required="true"
		        	requiredMessage="Obrigatório" id="txtXb" size="20" disabled="true"/>
		        <p:message for="txtXb"/>
		       	
		       
		        
		        <h:outputLabel value="Yb*" />
		       	<p:inputText value="#{mapBean.yb}" required="true"
		        	requiredMessage="Obrigatório" id="txtYb" size="20" disabled="true"/>
		        <p:message for="txtYb"/>
        	</h:panelGrid>
		</p:fieldset>
		
		<div style="text-align:center; margin-top: 20px">
			<p:commandButton value="Cadastrar" update="@form" id="btnSave" action="#{instituionCreateMB.save}"/>
		</div>
</h:form>
    </ui:define>
    
    <ui:define name="moreScripts">
    	<script src="http://maps.google.com/maps/api/js?sensor=false"
        type="text/javascript" />
    </ui:define>
</ui:composition>
