<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/system.xhtml">
    <ui:define name="content">
<h:form id="form">
		<p:commandButton immediate="true" ajax="false" action="institutionCreate" value="Cadastrar novo" rendered="#{loginMB.agentLogged.isAdmin()}"/>
    	<div style="text-align:center;">
        	<h1>Listagem de instituições</h1>
        	
        	<p:dataTable value="#{institutionListMB.institutions}" var="institution" emptyMessage="Não existem instituições" filteredValue="#{institutionListMB.filteredInstitutions}"
        		id="table">
        		<p:column headerText="Nome" filterMatchMode="contains" filterBy="#{institution.name}" sortBy="#{institution.name}" width="600">
        			<h:outputLabel value="#{institution.name}" />	
        		</p:column>
        		
        		<p:column headerText="Deletar" width="100">
        			<p:commandButton icon="ui-icon-trash" update="table" actionListener="#{institutionListMB.deleteInstitution(institution)}" immediate="true"/>
        		</p:column>
        	
        	
        	</p:dataTable>
		</div>
	
</h:form>
    </ui:define>
</ui:composition>
