<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/system.xhtml">
    <ui:define name="content">
<h:form id="form">
		<p:commandButton immediate="true" ajax="false" action="reserveCreate" value="Cadastrar nova"/>
    	<div style="text-align:center;">
        	<h1>Reservas</h1>
        	
        	<h:outputLabel value="Pensar em algo para visualização =)" />
        	
        	<p:dataTable value="">
        	
        	
        	
        	</p:dataTable>
        	
		</div>
	
</h:form>
    </ui:define>
</ui:composition>
