body {
    margin: 0;
    padding: 0;
    background-color: #EAECEE;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}
#container {
    margin: 0 auto;
    padding: 0 20px 10px 20px;
    border: 1px solid #666666;
    width: 1000px; /* subtract 40px from banner width for padding */
    background: #FFFFFF url(#{request.contextPath}/resources/gfx/banner.png) no-repeat;
    background-size: contain;
    padding-top: 110px;
}
#sidebar {
    font-size: 0.9em;
    width: 225px;
    float: right;
    border: 1px solid #666666;
    background: #EAECEE;
    padding: 0 15px 5px 15px;
}
#sidebar ul {
    padding-left: 30px;
}
#footer {
    clear: both;
    text-align: center;
    color: #666666;
    font-size: 0.85em;
    padding: 3em 0 0 0;
}
code {
    font-size: 1.1em;
}
span.invalid {
    padding-left: 3px;
    color: red;
}


.roomSquare {
	position: absolute;
	background-color: #FF473F;
	opacity: 0.8;
	border: 1px solid;
}

.roomSquare p{
	text-align: center;
	color: white;
}

.ui-panel-content .ui-widget-content padless {
	padding-top: 0em;
	padding-right: 0em;
}