<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/system.xhtml">
    <ui:define name="content">
<h:form id="form">
		<p:commandButton immediate="true" ajax="false" action="departmentCreate" value="Cadastrar novo" rendered="#{loginMB.agentLogged.isAdmin()}"/>
    	<div style="text-align:center;">
        	<h1>Listagem de departamentos</h1>
        	
        	<p:dataTable value="#{departmentListMB.departments}" var="dep" emptyMessage="Não existem departamentos" filteredValue="#{departmentListMB.filteredDepartments}"
        		id="table">
        		<p:column headerText="Instituição" filterMatchMode="contains" filterBy="#{dep.institution.name}" sortBy="#{dep.institution.name}" width="300">
        			<h:outputLabel value="#{dep.institution.name}" />	
        		</p:column>
        	
        		<p:column headerText="Nome" filterMatchMode="contains" filterBy="#{dep.name}" sortBy="#{dep.name}" width="300">
        			<h:outputLabel value="#{dep.name}" />	
        		</p:column>
        	
        		<p:column headerText="Deletar" width="100">
        			<p:commandButton icon="ui-icon-trash" update="table" actionListener="#{departmentListMB.deleteDepartment(dep)}" immediate="true"/>
        		</p:column>
        	
        	</p:dataTable>
		</div>
	
</h:form>
    </ui:define>
</ui:composition>
