<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/system.xhtml">
    <ui:define name="content">
<h:form id="form">
    	<div style="text-align:center;">
        	<h1>Listagem de andares</h1>
        	<p:growl id="growl"/>
        	<p:autoComplete value="#{floorListCreateMB.departmentSelected}" id="completeDepartment" completeMethod="#{floorListCreateMB.completeDepartment}" 
					var="dep" itemLabel="#{dep.institution.name} - #{dep.name}" itemValue="#{dep}" forceSelection="true" 
					converter="#{departmentConverter}" dropdown="true" size="70" required="true" requiredMessage="Selecione o departamento">
					<p:ajax event="itemSelect" update="@form" listener="#{floorListCreateMB.updateFloors()}"/>
        	</p:autoComplete> <br /> <br />
        	
        	<p:commandButton value="Adicionar Andar" rendered="#{not (floorListCreateMB.departmentSelected eq null)}" id="btnAdd"
        		oncomplete="dlgAdd.show();" immediate="true" update=":formDialog" actionListener="#{floorListCreateMB.prepareFloor()}"/>
        	<p:dataTable value="#{floorListCreateMB.floors}" var="floor" emptyMessage="Não existem andares" filteredValue="#{floorListCreateMB.floorsFiltered}"
        		id="table">
        		<p:column headerText="Nome do andar" filterMatchMode="contains" filterBy="#{floor.name}" sortBy="#{floor.name}" filterStyle="width: 300px;"
        			width="500">
        			<h:outputLabel value="#{floor.name}" />	
        		</p:column>
        		<p:column headerText="Deletar" width="100">
        			<p:commandButton icon="ui-icon-trash" update="table" actionListener="#{floorListCreateMB.deleteFloor(floor)}" immediate="true"/>
        		</p:column>
        
        	
        	
        	</p:dataTable>
		</div>
	
</h:form>

<p:dialog modal="true" closable="true" draggable="true" resizable="true" header="Adicionar andar" id="dialogAdd" widgetVar="dlgAdd" closeOnEscape="true"
	dynamic="true">
	<h:form id="formDialog">
		<center>
		<h:outputLabel value="Adicionando andar para o departamento [#{floorListCreateMB.departmentSelected.name}] - #{floorListCreateMB.departmentSelected.institution.name}" />
		<h:panelGrid columns="3">
			<h:outputLabel value="Nome do andar" />
			<p:inputText value="#{floorListCreateMB.floor.name}" id="txtFloorName" required="true"
				requiredMessage="Obrigatório nome do andar" size="50"/>
			<p:message for="txtFloorName"/>
			
			<h:outputLabel value="Mapa do andar" />
			<p:fileUpload fileUploadListener="#{floorListCreateMB.handleFileUpload}" mode="advanced" dragDropSupport="false"  
                  update=":form:growl" sizeLimit="10485760" fileLimit="1" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" required="true" requiredMessage="Obrigatório"
                  auto="true"/>
			<p:messages for="upImage" id="upImage"/>
		</h:panelGrid>
		<p:commandButton value="Cadastrar" actionListener="#{floorListCreateMB.addFloor()}" oncomplete="dlgAdd.hide();" update="@form :form:table :form:growl"
			ajax="false"/>
		<p:commandButton value="Cancelar" type="button" onclick="dlgAdd.hide();"/>
		</center>
	
	</h:form>

</p:dialog>
    </ui:define>
</ui:composition>
