<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/default.xhtml">
    <ui:define name="content">
<h:form>
	<p:growl autoUpdate="true"/>
	<center>
		<h:panelGrid columns="3" style="margin-top: 30px;">
			<h:outputLabel value="Usuário*" />
			<h:inputText value="#{loginMB.userLogin}" id="txtUsername" required="true"
				requiredMessage="Obrigatório"/>
			<p:message for="txtUsername"/>
			
			<h:outputLabel value="Senha*" />
			<h:inputSecret value="#{loginMB.passwordLogin}" id="txtPassword" required="true"
				requiredMessage="Obrigatório"/>
			<p:message for="txtPassword"/>
		</h:panelGrid>
		<p:commandButton value="Login" update="@form" actionListener="#{loginMB.tryLogin()}"/>
	</center>
</h:form>       
    </ui:define>
</ui:composition>
