<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/system.xhtml">
    <ui:define name="content">
<h:form id="form">
		<p:commandButton immediate="true" ajax="false" action="reserveCreate" value="Cadastrar nova"/>
    	<div style="text-align:center;">
        	<h1>Controle de acesso</h1>
        	<p:growl id="growl"/>
        	<h:panelGrid>
	        	<h:outputLabel value="Secretário" />
	        	<p:autoComplete value="#{accessControlListMB.secretary}" id="completeSecretary" completeMethod="#{accessControlListMB.completeSecretaries}" 
					var="sec" itemLabel="#{sec.username} - #{sec.fullname}" itemValue="#{sec}" forceSelection="true" 
					converter="#{secretaryConverter}" dropdown="true" size="90" required="true" requiredMessage="Selecione secretário" minQueryLength="2" queryDelay="600">
					<p:ajax event="itemSelect" process="completeSecretary" update="@form" listener="#{accessControlListMB.updateBuildings()}"/>
				</p:autoComplete>
				<p:message for="completeSecretary"/>
        	</h:panelGrid>
        	<br /> <br />
        	<h:outputLabel value="Instituições" style="margin-top: 30px;"/>
        	<p:pickList id="institutionPicklist" value="#{accessControlListMB.insitutions}" var="institution" effect="clip"  
				itemValue="#{institution}" itemLabel="#{institution.name}" converter="#{institutionConverter}"  
				showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" >
        		<f:facet name="sourceCaption">Sem direito</f:facet>  
       			<f:facet name="targetCaption">Com direito</f:facet>
       			<p:ajax event="transfer" listener="#{accessControlListMB.onInstitutionTransfer}" process="institutionPicklist" update="@form"/>
        	</p:pickList>
        	<br />
        	<br />
        	<h:outputLabel value="Departamentos" style="padding-top : 70px;"/>
        	<p:pickList id="departmentPicklist" value="#{accessControlListMB.departments}" var="department" effect="clip"  
				itemValue="#{department}" itemLabel="[#{department.institution.name}] #{department.name}" converter="#{departmentConverter}"  
				showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" >
        		<f:facet name="sourceCaption">Sem direito</f:facet>  
       			<f:facet name="targetCaption">Com direito</f:facet>
       			<p:ajax event="transfer" listener="#{accessControlListMB.onDepartmentTransfer}" process="departmentPicklist" update="@form"/>
        	</p:pickList>
        	<br />
        	<br />
        	
        	<h:outputLabel value="Andares" style="padding-top : 70px;"/>
        	<p:pickList id="floorPicklist" value="#{accessControlListMB.floors}" var="floor" effect="clip"  
				itemValue="#{floor}" itemLabel="[#{floor.department.institution.name}] [#{floor.department.name}] #{floor.name}" converter="#{floorConverter}"  
				showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" >
        		<f:facet name="sourceCaption">Sem direito</f:facet>  
       			<f:facet name="targetCaption">Com direito</f:facet>
       			<p:ajax event="transfer" listener="#{accessControlListMB.onFloorTransfer}" process="floorPicklist" update="@form"/>
        	</p:pickList>
        	
        	<br />
        	<br />
        	
        	<h:outputLabel value="Salas" style="padding-top : 70px;"/>
        	<p:pickList id="roomPicklist" value="#{accessControlListMB.rooms}" var="room" effect="clip"  
				itemValue="#{room}" itemLabel="[#{room.floor.department.institution.name}] [#{room.floor.department.name}] [#{room.floor.name}] #{room.name}" converter="#{roomConverter}"  
				showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" >
        		<f:facet name="sourceCaption">Sem direito</f:facet>  
       			<f:facet name="targetCaption">Com direito</f:facet>
       			<p:ajax event="transfer" listener="#{accessControlListMB.onRoomTransfer}" process="roomPicklist" update="@form"/>
        	</p:pickList>
        	
        	
		</div>
	
</h:form>
    </ui:define>
</ui:composition>
