<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="/WEB-INF/templates/system.xhtml">
    <ui:define name="content">
		<h:form id="form">
		  	<div style="text-align:center;">
		      	<h1>Aplicação para gerenciamento de salas e eventos</h1>
			</div>
		</h:form>
    </ui:define>
</ui:composition>
